@import url('https://fonts.googleapis.com/css2?family=Underdog:wght@200;300;400;500&display=swap');

:root {
  --light-grey: rgba(236, 228, 228, 0.8);
  --full-green: rgba(27, 211, 27, 1);
  --light-green: rgba(92, 255, 100, 1);
  --light-red: rgba(255, 122, 122, 1);
}

body {
  background-color: #b8c6db;
  font-family: 'Underdog', sans-serif;
  font-size: 3vmin;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 100vh;
  margin: 0 10%;
  text-align: center;

  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  background-size: 100%;

  /* backdrop-filter: saturate(20000%) invert(100%); */
  /* backdrop-filter: grayscale(100%); */
  /* animation: backgroundScroll 10s ease-in-out infinite; */
}

h1 {
  font-size: 150%;
}

h1>span {
  display: inline-block;
  animation: bouncingLetters 2s infinite;
}

h1>span:nth-child(1) {
  animation-delay: 0.25s;
}

h1>span:nth-child(2) {
  animation-delay: 0.5s;
}

h1>span:nth-child(3) {
  animation-delay: 0.75s;
}

h1>span:nth-child(4) {
  animation-delay: 1s;
}

.main-content {
  flex: 2;
  position: relative;
  height: 75%;
  max-width: 75%;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 .3rem .3rem var(--light-grey);
  padding: 0 1rem;
}

#text-underscore {
  text-decoration: underline dashed .05rem;
  cursor: pointer;
}

#button-commit,
#button-continue,
#button-music {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  background-color: var(--light-green);
  box-shadow: 0 0 .2rem .2rem var(--light-green), .6rem .6rem .2rem gray;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Underdog', sans-serif;
  font-size: 120%;
  font-weight: 800;
  border: none;
  outline: none;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  transition-duration: .3s;
}

#button-continue {
  display: none;
}

#button-music {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: white;
  box-shadow: 0 0 .2rem .2rem white, .6rem .6rem .2rem gray;
  border-radius: 3rem;
  padding: .5rem;
}

#button-music>img {
  height: 1.5rem;
  width: auto;
  opacity: 0.8;
}

#button-commit:hover,
#button-continue:hover,
#button-music:hover {
  transform: translateY(-.2rem);
  box-shadow: 0 0 .2rem .2rem var(--light-green), .8rem .8rem .2rem gray;
}

#button-music:hover {
  box-shadow: 0 0 .2rem .2rem white, .8rem .8rem .2rem gray;
}

#button-commit:active,
#button-continue:active,
#button-music:active,
.button__pressed {
  transform: translateY(.5rem);
  box-shadow: 0 0 .2rem .2rem var(--light-green), .4rem .4rem .2rem gray;
}

#button-music:active {
  box-shadow: 0 0 .2rem .2rem white, .4rem .4rem .2rem gray;
}

#main-content__text {
  margin: auto;
}

.form-input {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.form-input input {
  color: black;
  box-shadow: 0 0 .3rem .3rem white, .6rem .6rem .2rem gray;
  font-family: 'Underdog', sans-serif;
  font-size: 120%;
  border: none;
  border-radius: 1rem;
  padding: .5rem;
  margin: 1rem;
  text-align: center;
  outline: none;
  transition-duration: 1s;
}

#text-tooltip,
#text-hint {
  font-size: 80%;
  opacity: 0;
  transition-duration: 1s;
}

#text-tooltip {
  margin: 0;
  position: absolute;
  top: .3rem;
  right: .3rem;
}

#text-hint {
  flex-basis: 10%;
  padding: auto 10%;
}

.wrapper-sidepanel {
  flex: 1;
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 75%;
}

.wrapper-image {
  background-color: var(--light-grey);
  box-shadow: 0 0 .3rem .3rem var(--light-grey);
  height: 45%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  height: auto;
  max-width: 100%;
  filter: grayscale(100%) blur(0.5rem);
  transition-duration: 1s;
}

.wrapper-answers {
  height: 45%;
  background-color: var(--light-grey);
  box-shadow: 0 0 .3rem .3rem var(--light-grey);
}

#list-answers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  text-align: left;
  margin-top: 2rem;
  max-height: 50%;
  font-size: 75%;
}

.list-item {
  opacity: 0;
  transition-duration: 1s;
}

#hidden-text {
  opacity: 0;
  transition-duration: 1s;
}

.big-text {
  font-size: 9rem;
  color: rgba(0, 0, 0, 1);
}

.shaking-letters {
  display: inline-block;
  animation: shakingLetters 0.5s infinite;
}



@keyframes bouncingLetters {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shakingLetters {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes backgroundScroll {
  0% {
    background-size: 100%;
  }

  50% {
    background-size: 150%;
  }

  100% {
    background-size: 100%;
  }
}

@media (max-width:801px) {

  body {
    font-size: 4vmin;
  }

  .wrapper-sidepanel,
  #button-music {
    display: none;
  }

  .main-content {
    height: 90%;
    min-width: 100%;
  }
}